@import 'tailwindcss';
@import '@knockdog/ui/styles';
@config '@knockdog/ui/tailwind-config';
@source '@knockdog/ui';

@variant web (&:where([data-env='web'], [data-env='web'] &));
@variant webview (&:where([data-env='webview'], [data-env='webview'] &));

@theme {
  /* breakpoint */
  --breakpoint-sm: 30rem;
  --breakpoint-md: 48rem;

  /* z-index */
  --z-index-float: 100;
  --z-index-overlay: 1000;
  --z-index-modal: 2000;
  --z-index-toast: 3000;

  /* height */
  --top-bar-height: 64px;
  --bottom-bar-height: 68px;

  /* animation */
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

html body[data-scroll-locked] {
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0px !important;
}

body {
  input::-ms-clear,
  input::-ms-reveal {
    display: none;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

button {
  cursor: pointer;
}

/* 스크롤바 숨김 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-style {
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 transparent;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
