name: 'Pull Request Labeler'
on:
  - pull_request_target

jobs:
  labeler:
    if: |
      github.event.pull_request.base.ref != 'main' &&
      github.event.pull_request.user.login != 'dependabot[bot]'
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Check Labels
        uses: actions/labeler@v6
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
